form {
    background-color: white;
    padding: 10px 20px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
    border-radius: 0.4rem;  
    border: 1px solid #FA812F;
}


.form__header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form__header-container h2 {
    font-size: 1.2rem;
    text-decoration: underline;
    margin: 0px;
}

.form__field {
    width: 100%;
}

.form__field input {
    padding: 0.3rem;
    color: black;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form__submit {
    background-color: #FA812F;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    border: 2px solid ;
    outline: none;
}

.sign-up {
    width: 100%;
    font-size: 0.9rem;
}

.clickable {
    color: #0F8FFF;
    font-size: 0.9rem;
    text-decoration: underline;
}